<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.togather.mapper.CategoryMapper">
	<select id="getCategoryByOutCatogory" parameterType="String" resultType="Category">
		select * from CATEGORY where INT_OUT=#{int_out} order by catenum
	</select>
	<select id="getGroupsByCategory" parameterType="String" resultType="GroupTab">
		select * from GROUPTAB where INTEREST=#{category} order by gseq
	</select>
</mapper>
